{% extends 'calculadora_sellos/layout.html' %}
{% load static %}
{% block content %}


<div class="col-sm-12">
<h3>Calculadora Nutricional</h3>

<p>En esta página encontrará una calculadora que te permitirá saber si un producto o tus recetas deben tener sellos 
nutricionales, establecidos en la Ley Nº 20.606 sobre la composición nutricional de los alimentos y su publicidad, o
“Ley de Alimentos” o "Ley de Etiquetados". Para acceder a esta, puedes registrarte <a href ="{% url 'calculadora_sellos:registro'%}">aquí</a>. Si ya tienes una cuenta, 
ingresa <a href ="{% url 'calculadora_sellos:ingreso_usuario'%}">aquí</a></p>

<p>Para el año 2022, comenzará a regir la cuerta fase, en la cual las etiquetas “ALTO EN” deberán ser implementadas
por micro productores de alimentos.</p>

<div class="col-sm-2"></div>
<div class="col-sm-8">
<h3>Límites para alimentos sólidos</h3>
<table class="center">
    <tr><th></th><th>Primera fase</th><th>Segunda fase</th><th>Tercera fase</th></tr>
    <tr><td>Calorías</td><td>350 kcal/100g</td><td>300 kcal/100g</td><td>275 kcal/100g</td></tr>
    <tr><td>Sodio</td><td>800 mg/100gg</td><td>500 mg/100g</td><td>400 mg/100g</td></tr>
    <tr><td>Azúcares</td><td>22,5 g/100g</td><td>15 g/100g</td><td>10 g/100g</td></tr>
    <tr><td>Grasas Saturadas</td><td>6 g/100g</td><td>5 g/100g</td><td>	4 g/100g</td></tr>
</table>

<h3>Límites para alimentos líquidos</h3>
<table>
    <tr><th></th><th>Primera fase</th><th>Segunda fase</th><th>Tercera fase</th></tr>
    <tr><td>Calorías</td><td>100 kcal/100ml</td><td>80 kcal/100ml</td><td>70 kcal/100ml</td></tr>
    <tr><td>Sodio</td><td>100 mg/100ml</td><td>100 mg/100ml</td><td>100 mg/100ml</td></tr>
    <tr><td>Azúcares</td><td>6 g/100ml</td><td>5 g/100ml</td><td>5 g/100ml</td></tr>
    <tr><td>Grasas Saturadas</td><td>3 g/100ml</td><td>3 g/100ml</td><td>3 g/100ml</td></tr>
</table>
</div>
<br>

<br>
</div>

{% endblock %}